<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CodeService</key>
	<string>LibrelioS3</string>
	<key>SharedSecret</key>
	<string>026defcdebf5490893fbe5661224ef30</string>
	<key>Splash</key>
	<string>S3</string>
	<key>UsernamePasswordEnabled</key>
	<true/>
	<key>GoogleAnalyticsCode</key>
	<string>UA-1732003-23</string>
	<key>AppId</key>
	<string>433594605</string>
</dict>
</plist>
