<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Magazines</string>
		<key>FileName</key>
		<string>Magazines.plist?waupdate=1500</string>
		<key>Icon</key>
		<string>receive.png</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Downloads</string>
		<key>FileName</key>
		<string>file://localhost/</string>
		<key>Icon</key>
		<string>folder.png</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Site</string>
		<key>FileName</key>
		<string>http://www.windmag.com?wabar=bo</string>
		<key>Icon</key>
		<string>globe.png</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Facebook</string>
		<key>FileName</key>
		<string>https://www.facebook.com/windmag?waubar=no</string>
		<key>Icon</key>
		<string>ico-facebook-black.png</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Editeur</string>
		<key>FileName</key>
		<string>http://www.windmag.com/wind-ipad?waubar=no</string>
		<key>Icon</key>
		<string>information.png</string>
	</dict>
</array>
</plist>
